alabaster==0.7.12
appnope==0.1.0
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
bleach==3.1.5
certifi==2020.6.20
chardet==3.0.4
coverage==5.0.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
docutils==0.16
entrypoints==0.3
gapminder==0.1
hypothesis==5.6.0
idna==2.10
imagesize==1.2.0
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.0.0
jupyter-core==4.6.3
jupytext==1.5.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.0
mistune==0.8.4
mizani==0.7.1
more-itertools==8.2.0
nbconvert==5.6.1
nbformat==5.0.4
nbsphinx==0.7.1
nbval==0.9.5
numpy==1.19.1
packaging==20.3
palettable==3.3.0
pandas==1.1.0
pandocfilters==1.4.2
parso==0.6.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
plotnine==0.7.0
pluggy==0.13.1
prompt-toolkit==3.0.3
psycopg2==2.8.5
ptyprocess==0.6.0
py==1.8.1
Pygments==2.5.2
PyMySQL==1.0.2
pyparsing==2.4.6
pyrsistent==0.15.7
pytest==5.3.5
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==22.3.0
requests==2.24.0
scipy==1.5.2
six==1.14.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
Sphinx==3.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.18
statsmodels==0.11.1
testpath==0.4.4
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.10
wcwidth==0.1.8
webencodings==0.5.1
zipp==3.1.0
