numpy==1.16.1
pandas==0.24.1
python-dateutil==2.8.0
pytz==2018.9
scipy==1.2.1
six==1.12.0
SQLAlchemy==1.2.17
nbval==0.9.1
# tests
pytest==4.4.2
psycopg2==2.8.2
# only used for iris dataset
scikit-learn==0.20.2
# used for docs
nbsphinx==0.4.2
jupytext==1.1.1
gapminder==0.1
matplotlib==3.1.0
plotnine==0.5.1
